.main_div_of_card{
    width: 70%;
    /* border: 1px solid red; */
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    /* align-content: center; */
    justify-content: space-between;
    margin: 40px auto;
}
.dot_in_card{
    height: 3px;
    width: 3px;
    background-color:gray;
    border-radius: 50%;
}
.details_of_job{
    display: flex;
    height: 20px;
    width: 230px;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: space-between;
}
.middle_div_of_card{
   display: flex; 
   align-items: center;
   width: 60%;
   /* border: 1px solid green; */
}
.tech_div_of_card{
    display: flex;
    /* border: 1px solid orange; */
    width: 35%;
    justify-content: space-around;
}
.details_of_job_middle_div{
    margin-left: 20px;
    /* border: 1px solid red; */
    height: 80px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
   justify-content: space-around;
}