.top_header{
    justify-content: space-between;
    background-color: white;
    padding: 15px 25px;
}
.top_header>div{
    color: white;
}
.button{
    background-color: green;
    padding: 10px 15px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}